@{
    ViewBag.Title = "Employees";
}


<div class="row text-center flex-wrap" id="app">
    <div class="col-12">
        <button class="btn btn-primary m-3">新增</button>
    </div>
    <div class="col-6 border border-danger">
        <p>前台</p>
        <div v-for="data in employee" >
            <div class="d-flex justify-content-between">
                <span>{{data.Id}}</span>
                <span>{{data.LName}}</span>
                <span>{{data.FName}}</span>
                <button class="btn btn-primary m-2" :dataId="data.Id" :dataLName="data.LName" :dataFName="data.FName" v-on:click="Edit($event)">編輯</button>
                <button class="btn btn-danger m-2" :dataId="data.Id" :dataState="data.State" v-on:click="Delete($event)">刪除</button>
            </div>      
        </div>
    </div>
    <div class="col-6 border border-success">
        <p>後台</p>
        <div v-for="data in employee">
            <span>{{data.Id}}</span><span>{{data.LName}}</span><span>{{data.FName}}</span><span>{{data.State}}</span>,
            <button class="btn btn-primary m-2" :dataId="data.Id" :dataLName="data.LName" :dataFName="data.FName" v-model="data.state" v-on:click="Edit($event)">編輯</button>
            <button class="btn btn-danger m-2" :dataId="data.Id" :dataState="data.State" v-on:click="Delete($event)">刪除</button>
        </div>
    </div>
</div>

@section endjquery{
    <script>

    </script>
}

@section endjs{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="~/Assets/JS/Employees_JS.js"></script>
    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    employee: [],
                }

            },
            methods: {
                GetAll() {
                    fetch('/api/EmployeeCRUD/GetAll')
                        .then(res => {
                            //console.log(res);
                            return res.json();
                        }).then(response => {
                            console.log(response);
                            response.forEach(item =>
                                //console.log(item)
                                this.employee.push(item)
                            );
                            console.log(this.employee);
                        }).catch(err => {
                            console.log('失敗')
                        });
                },
                Edit(event) {
                    let obj = { Id: event.target.getAttribute('dataId'), LName: event.target.getAttribute('dataFName'), FName: event.target.getAttribute('dataLName') }
                    fetch('/api/EmployeeCRUD/Edit', {
                        method: 'POST',
                        body: JSON.stringify(obj),
                        headers: {'Content-Type': 'application/json',}
                    }).then(res => { return console.log(res) })
                        .then(response => { console.log(response) })
                        .catch(err => console.log(err))
                 
                    console.log(obj)
                },
                Delete(event) {
                    let obj = { Id: event.target.getAttribute('dataId'), State: event.target.getAttribute('dataState') }
                    console.log(obj)
                }
            },
            async created() {
                await this.GetAll();
            }
        })
    </script>
}

