@{
    ViewBag.Title = "Employees";
}

<div class="row text-center">
    <div class="col-6 border border-danger">
        <p>前台</p>
    </div>
    <div class="col-6">
        <p>後台</p>
    </div>
</div>

@section endjquery{
    <script>
       
    </script>
}

<script>
    fetch('/api/EmployeeCRUD/GetAll')
        .then(res => {
            console.log(res);
            return res.json();
        }).then(response => {
            console.log(response);
        }).catch(err => {
            console.log('失敗')
        });
</script>